<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Banners</title>
</head>
<body>
<div class="container">
    <header class="header">
        <nav class="header__nav">
            <a href="/bid/banners" class="header__link">Banners</a>
            <a href="/bid/categories" class="header__link header__link_active">Categories</a>
        </nav>
    </header>

    <main class="main">
        <aside class="sidebar">
            <header class="sidebar__header">Categories:</header>

            <form th:action="@{/bid/categories}" >
                <section class="sidebar__content">
                    <div class="sidebar__search">
                        <input class="sidebar__search-input" type="text" th:name="search" th:value="${res}" placeholder="Enter title fragment..." />
                        <input type="submit" value="search"/>
                        <span class="sidebar__search-icon"></span>
                    </div>
                    <div class="sidebar__menu" th:each="category : ${categories}">
                        <a th:href="@{/bid/categories/{id}(id=${category.getId()})}" class="sidebar__menu-item" th:text="${category.getName()}"></a>
                    </div>
                </section>
            </form>
        </aside>

        <section class="content">
            <form  th:method="post" th:action="@{/bid/categories}" th:object="${category}">
                <div class="content__body">
                    <div class="content__form">
                        <div class="content__form-item">
                            <div class="content__form-item-title">Name</div>
                            <div class="content__form-item-content">
                                <input class="content__input" type="text" th:field="*{name}"/>
                            </div>
                        </div>
                        <div class="content__form-item">
                            <div class="content__form-item-title">RequestID</div>
                            <div class="content__form-item-content">
                                <input class="content__input" th:field="*{requestId}"></input>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                <footer class="content__footer">
                    <div class="content__buttons"   >
                        <button  class="content__button content__button_dark">Save</button>
                    </div>
                </footer>


                <div class="error" th:if="${#fields.hasErrors()}">
                    <span class="error__text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    <span class="error__text" th:if="${#fields.hasErrors('requestId')}" th:errors="*{requestId}"></span>
                </div>
            </form>

            <footer class="content__footer">
                <div class="content__buttons">
                    <button onclick="location.href='/bid/categories/new'" class="content__button content__button_red">Clear</button>
                </div>
            </footer>
        </section>
    </main>
</div>
</body>
</html>
